.Item {
    /* display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc; */
    padding-top: 20px;
}

.Item__info {

}

.Item__img-box {
    width: 15%;
    float: left;
    margin-top: 15px;
}

.Item__img {
    width: 100%;
}

.Item__stat {
    margin-top: 15px;
}

.Item__stat p {
    margin-bottom: 0;
}

.Item__controls {
    margin-top: 25px;
    font-size: 14px;
}

.Item__controls a {
    color: #333;
}

.Item__controls a:not(:first-child) {
    margin-right: 5px;
    margin-left: 5px;
}

.Item__size p, .Item__price h2 {
    position: relative;
    top:-50px;
    left:10px;
}

.Item__qty input {
    position: relative;
    top:-55px;
    left:10px;
}
