.Checkout {
    width: 60%;
    
}

.Checkout__promotion,
.Checkout__subtotal,
.Checkout__total {
    display: flex;
    justify-content: space-between;
}

.Checkout__promotion {
    border-bottom: 2px solid #ddd;
}

.Checkout__subtotal {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.Checkout__total {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #ddd;
}

.checkout-cta {
    margin-top: 20px;
    text-align: right;
}

.checkout-cta button {
    margin-left: 20px;
}