/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.App {
  position: relative;
  padding: 10px;
  /* background: red; */
  font-family: 'Roboto', sans-serif;
  color: #777;
  background: white;
}

.section-checkout {
  display: flex;
  justify-content: space-between;
  border-top: 8px solid #ddd;
  padding-top: 25px;
}

.backdrop {
  background-color: #000;
  opacity: .7;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backdrop--after {
  z-index: 2;
}

/* Utilities */
.heading {
  color: #444;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.btn {
  padding: 5px 40px;
  border:none;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: blue;
  color: white;
}
